.AboutUs{
    width: 90vw;
    margin: 5vh auto 5vh auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 25%,25%,25%,25%;
    grid-template-rows: 25%,25%,25%,25%;
    grid-template-areas:
    "box1 box2 box3 box4"
    "box6 box5 box5 box13"
    "box7 box8 box9 box10"
    "box11 box8 box9 box12"
}
.AboutUs .grid-us{
    /*background: rgb(104, 63, 199);*/
    transition: all 250ms;
    /*font-size: 5rem;*/
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: "Aeroport";
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation: fadein 0.5s ease-out normal backwards;
}
.grid-us > img{
    position: relative;
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

i{
    color: #fff;
}

.AboutUs .sector1{grid-area: box1;}
.AboutUs .sector2{grid-area: box2;}
.AboutUs .sector3{grid-area: box3;}
.AboutUs .sector4{grid-area: box4;}
.AboutUs .sector5{grid-area: box5;}
.AboutUs .sector6{grid-area: box6;}
.AboutUs .sector7{grid-area: box7;}
.AboutUs .sector8{grid-area: box8;}
.AboutUs .sector9{grid-area: box9;}
.AboutUs .sector10{grid-area: box10;}
.AboutUs .sector11{grid-area: box11;}
.AboutUs .sector12{grid-area: box12;}
.AboutUs .sector13{grid-area: box13;}

/*INPORTED*/

.container_slider_css{margin:50px auto;width:500px;height:300px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}

/*--------*/

@media (max-width: 1000px){
    .AboutUs{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}