*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 500vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 60px;
    z-index: 10;
    background-color: black;
}
header .Logo{
    float: left;
    font-family: 'Aeroport';
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin: 1px 15px;
}
header ul{
    font-family: 'Aeroport';
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 1px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 15pt;
    letter-spacing: 2px;
    font-weight: 500;
    transform: 0.6s;
}

.BigH{
    font-size: 64pt;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    font-family: 'Aeroport';
    font-weight: 600;
}