.popup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 0.74s ease-in-out;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Oswald', sans-serif;
}
.popup-inner{
    position: relative;
    border: -100vh;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 599px;
    width: 59%;
    height: 80%;
    background-color: seashell;
    transform: rotate(32deg);
    transition: 0.74s ease-in-out;
    border-radius: 20px;
}

.popup-photo{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.popup-photo img{
    width: auto;
    height: 102%;
    opacity: 100%;
}

.popup-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 59%;
    height: 100%;
    padding: 4rem;
}

.popup-text h1{
    font-size: 2rem;
    font-weight: 599;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #0a0a0a;
    text-align: center;
}

.popup-text h2{
    font-size: 1.3rem;
    color: #0a0a0a;
    text-align: center;
}

.popup-text p{
    font-size: 0.8rem;
    color: black;
    line-height: 1.5;
}

.popup:target{
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner{
    bottom: 0;
    right: 0;
    transform: rotate(0);
}

.popup-close{
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.8rem;
    font-size:400;
    border-radius: 100px;
    background-color: white;
    z-index: 102;
    color:black;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ancore-alwayse{
    position: fixed;
    top: 0;
    left: 0;
}

.text-area{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.but-area{
    width: 100%;
    background-color: rgb(86, 76, 175);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: lowercase;
}

#messageShow{
    height: 20px;
    color: red;
}

/*----------------------------*/

@media (max-width: 1000px){
    .popup-inner{
        max-width: 1000px;
        max-height: 1027px;
        width: 100%;
        height: 85%;
    }
    .text-area{
        font-size: 22pt;
        padding: 22px 20px;
        font-family: 'Oswald', sans-serif;
    }
    .popup-text h1{
        font-size: 5rem;
    }
    .popup-text h2{
        font-size: 2.4rem;
    }
    .but-area{
        padding: 25px 20px;
        font-size: 24pt;
        font-family: 'Oswald', sans-serif;
    }
}