@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-row-gap: 3em;
    font-family: 'Lora', serif;
    font-size: 25pt;
    text-align: center;
  }

.BigIMG{
    width: 40%;
}

.SmallIMG{
    width: 20%;
}

.map{
    width: 60%;
}

.RightText{
    text-align: left;
}